[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
pyoneering = {editable = true, path = "."}

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
setuptools-scm = "*"
hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.7"
