[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.7"
